<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe History - Crave</title>
    <link rel="icon" href="/assets/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">


</head>
<body>
      <nav>
        <ul class = "nvbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('create_recipe_page') }}">Create a New Recipe</a></li>
            <li> <a href="{{ url_for('view_history') }}">Recipe History</a></li>
        </ul>
    </nav>
    <h1 class = "tit">Crave</h1>
    <h2>About</h2>
    <p>We ask for your budget, time, mood, dietary needs, and kitchen tools. Then, using GenAI and the Tasty API, we recommend meals that match your vibe and constraints. If nothing fits, 
        our AI generates a custom recipe just for you. It’s cooking made simple, practical, and tailored to real student life. No fluff—just good food that works for your situation.</p>
   
</body>
</html>